
/* nav bar */
.bg-pink {
    background-color: #e791d8!important;
}

img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.nav-link {
    font-size: 20px;
    color: blue;
}

#cart {
    padding-left: 400px;
}