body {
font-family: 'Dancing Script', cursive;
}

/* nav bar */
.bg-pink {
    background-color: #eaaee0!important;
}

img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.nav-link {
    font-size: 30px;
    color: blue;
}

#cart-button {
    font-size: 25px;
}


/* footer */

footer {
    background-color: #eaaee0!important;
    line-height: 10px;
}

